* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Source Sans Pro';
  font-size: 62.5%;
  background-color: #b2172b;
}

.current-conditions-header {
  font-size: 2.4rem;
  text-align: center;
  color: #fff;
  padding-top: 2.5rem;
}

.weather-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.weather-info__conditions {
  width: 256px;
}

.weather-info__text {
  font-size: 1.8rem;
  text-align: center;
  color: #fff;
}

.weather-info__icon {
  width: 256px;
  height: 256px;
  display: block;
  margin: 0 auto;
}

.weather-info__temperature {
  font-size: 7.2rem;
  text-align: center;
  color: #fff;
}